 
html { 
    height: 100%; 
    font:16px arial;
}

body { 
    overflow:hidden; 
    height:100%;
    margin: 0; 
    padding: 0px; 
    background-color:#686868;
}

#logoViewPort {
    position:absolute;
    top:0px;
    overflow:hidden;   
}

select {
    text-align:center;
    font-size:1.0em;
    width:275px;
}

option {
    text-align:center;
    width:250px;
    height:45px;
    color: white;
    background-color: black;
}

#book {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 100%;
    border-style: solid;
    border-width:2px;
    background-color:#9A9B9D;
    z-index:9;
}

#booktmp {
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width:2px;
}

a.icon {
    -box-shadow: 0px 3px 3px #000;
    -moz-box-shadow: 0px 3px 3px #000;
}

img { 
    border-style: solid;
    border-width:2px;
    border-color:black;  
}

img.load {
    border-width:0px;   
}

div.libraries {
    position:absolute;
    left:-400px;
    top:-200px;
    z-index:10;
}

#tableDiv{
    align:center;
    position:relative;
    top:50px;
    width:100%;    
}

#listDiv {
    position:absolute;
    left:0;
    bottom:100px;    
    background-color:#555555;
}

#tmpDiv {    
  position:absolute;
  bottom:5px;
  right:5px;
  width:70%;
  height:100%;
  visibility:hidden;
}

#moreDiv {
    position:absolute;
    width:100%;
    bottom:0px;
}

#lessDiv {
    position:absolute;
    width:100%;
    top:0px;
}

#listTable {
    height:100%;
    width:100%;
}

#toggleView {
    position:absolute;
    width:40px;
    height:40px;
    top:25px;
    opacity:.6;
}

#headerTable {
    background-color:#FCE6C9;
    
}

#header {
    border-style:solid;
    border-width:2px;
    position:absolute;
    bottom:0px;
    right:0px;
    height:100px;
    width:100%;
    height:100px;
    opacity:.5;
}

#back-logo {
    border-style:none;
    position:absolute;
    left:0px;
}

#indicator {
    position:absolute;    
    bottom:15px;
    left:105px;
    width:30px;
    color:darkred;
    font-size:14px;
}

a:link {
    text-decoration:none;
    color:black;
}

#div.controls {
    position:absolute;
    width:100%;
}

a.cover_thumb {
    left:50%;
    right:50%;   
}

#loadSplash {
    border-style:none;
    border-width:2px;
    border-color:black;
    position:absolute;
    left:0;
    top:40%;
    width:100%;
}

div.bookLoad {    
    position:absolute;
    left:35%;
    right:40%;
    top:40%;
    width:50%;  
}

div.metaOverlay {
    position:absolute;
    left:0px;
    top:0px;
    background-color:black;
    opacity:0.8;
    height:100%;
    width:100%;
    z-index:10;
}

div.metaDetailsOverlay {
    position:absolute;
    left:10%;
    top:10%;
    background-color:black;
    opacity:1.0;
    height:70%;
    width:75%;
    border-style:solid;
    border-width:2px;
    border-color:antiquewhite;
    z-index:11;
}

div.details {
    position:absolute;
    overflow:auto;
    right:10%;
    top:15%;
    opacity:1.0;
    height:80%;
    width:50%;
    z-index:12;
}

b.metaField {
    color:#698B69;
}

img.cover_large {
    position:absolute; 
    top:15%; 
    left:10%;
    border-style:solid;
    border-width:5px;
    border-color:#734A12;
}

